.main-container {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

router-outlet + * {
  flex: 1;
  height: 100%;
  margin: 0;
  padding: 0;
}

:host ::ng-deep router-outlet + * {
  height: 100%;
  display: flex;
  flex: 1;
  margin: 0;
  padding: 0;
}