.main-container {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}


:host ::ng-deep {
  app-sidebar {
    flex: 0 0 15%; 
    max-width: 220px;
  }

  app-friends {   
    flex: 0 0 30%; 
  }

  router-outlet + * {
    flex: 1; 
  }


  @media (max-width: 64em) { 
    app-sidebar {
      display: none; 
    }
  }
}